/*Curiosidades y teorias*/
.CuriosidadesyTeorias {
  margin: 40px 0px 0px 20px;/*top, right, bottom, left*/
}/*Estilo de toda la seccion de Curiosidades*/

::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Titulo*/
.contenedor-titulo-cyt {
  height: 150px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  gap: 3.5%;
}/*imagen del titulo*/

#fondo-titulo {
  width: 435px; /*imagen de fondo*/
  height: 230px;
  opacity: 0.88;
  transform: rotate(-5deg);
}

.contenedor-titulo-cyt img {
  margin-left: 0%;
  margin-top: 3%;
  width: 100%;
  height: auto;
}

.contenedor-titulo-cyt h2 {
  margin-top: 5%;
  transform: rotate(-6deg);
  position: absolute;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#titulos-principales {
  -webkit-text-stroke: 0.2px black;
  color: #fdde00;
  text-shadow:
    -3px 3px 0 #c3b11e,
    1px 1px 0 #c3b11e,
    1px 2px 0 #c3b11e,
    1px 1px 0 #c3b11e,
    1px 1px 0 #c3b11e;
}/*texto del titulo*/

/*@media (max-width: 1000px) {
  .contenedor-titulo-cyt {
    resize: 500px;
    width: auto;
    height: auto;
    position: relative;
  }
}*//*responsive, delimitar los nuevos parametros para responsive*/

/*Tarjetas*/
/*delimitar un tamaño fijo para cada caja*/
.imagenTarjetas {
  border-radius: 25px;
  width: 220px; 
  height: auto;
  margin-left: 10%;
  border: solid 0.001px #fad4181c;
}

.contenedor-curiosidades {
  border: 10px solid #00000052;
  backdrop-filter: blur(0.38rem);
  -webkit-backdrop-filter: blur(0.35rem);
  background: #9590902b;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: 100% auto;
  font-size: 10px;
  position: center;
  text-align: justify;
  overflow-x: auto; 
  gap: 68px;/*Barra deslizante*/
}/*contendor de las tarjetas*/
/*estilizando la barra*/

.contenedor-curiosidades::-webkit-scrollbar {
  height: 3px;
  overflow-x: scroll;
  scrollbar-width: thin;
}

.contenedor-curiosidades::-webkit-scrollbar-thumb {
  background: #535252c9; /* Color del thumb (agarre) */
  border-radius: 150px; /* Hace el thumb redondo */

}

.contenedor-curiosidades::-webkit-scrollbar-track {
  background: solid #ffffff; /* Color de fondo de la pista */
  border-radius: 150px;

}

/*Tarjetas*/
/*texto tarjetas*/
#titulo-card {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.curiosidad5 h3,
.curiosidad5 p {
  position: center;
  padding: 20px;
  color:black;
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 8px;
  justify-content: space-between; 
  width: 85%;
  align-items: center;
  justify-content: center;
  
}

/*tarjeta*/
.curiosidad5 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  border: solid 0.5px rgba(253, 204, 57);
  margin-left: 36px;
  border-radius: 15px;
  width: 250px;
  min-width: 280px;
  height: 520px;
  cursor: default;
  transition: all 800ms ease;
  background-color: rgba(253, 204, 57, 0.4);
}

.curiosidad4 h3,
.curiosidad4 p {
  position: center;
  padding: 20px;
  color:black;
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 8px;
  justify-content: space-between; 
  width: 85%;
  align-items: center;
  justify-content: center;
}

.curiosidad4{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  border: solid 0.5px rgba(19, 134, 198);
  border-radius: 15px;
  width: 250px;
  min-width: 280px;
  height: 520px;
  box-sizing: border-box;
  background-color: rgba(19, 134, 198, 0.4);
}

.curiosidad3 h3,
.curiosidad3 p {
  display: flex;
  flex-direction: column;
  position: center;
  padding: 20px;
  color:black;
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 8px;
  justify-content: space-between; 
  width: 85%;
  align-items: center;
  justify-content: center;
}

.curiosidad3{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  border: solid 0.5px rgba(78, 113, 151);
  border-radius: 15px;
  width: 250px;
  min-width: 280px;
  height: 520px;
  box-sizing: border-box;
  background-color: rgba(78, 113, 151, 0.45);
}
.curiosidad2 h3,
.curiosidad2 p {
  position: center;
  padding: 20px;
  color:black;
  font-size: 14px;
  margin-bottom: 50px;
  margin-top: 8px;
  justify-content: space-between; 
  width: 85%;
  align-items: center;
  justify-content: center;
}

.curiosidad2{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  border: solid 0.5px rgba(255, 84, 95);
  border-radius: 15px;
  width: 250px;
  min-width: 280px;
  height: 520px;
  box-sizing: border-box;
  background-color: rgba(255, 84, 95, 0.6);
}

.curiosidad1 h3,
.curiosidad1 p {
  position: center;
  padding: 20px;
  color:black;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 6px;
  justify-content: space-between; 
  width: 85%;
  align-items: center;
  justify-content: center;
}

.curiosidad1 {
  margin-top: 80px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border: solid 0.5px rgba(132, 207, 187); /* Estilo de borde existente */
  border-radius: 15px; /* Redondeo de esquinas */
  margin-right: 40px;
  width: 250px;
  min-width: 280px;
  height: 520px; /* Incluir el borde en el tamaño */
  background-color: rgba(132, 207, 187, 0.486);
}
/*Fin de Curiosidades y Teorias*/