/*Curiosidades y teorias*/
.CuriosidadesyTeorias {
  margin: 15px 0px 0px 20px;/*top, right, bottom, left*/
}/*Estilo de toda la seccion de Curiosidades*/

::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Titulo*/
.contenedor-titulo-cyt {
  margin-top: 1%;
  margin-left: -2%;
  width: 500px;
  height: 150px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 2;
  gap: 2%;
}/*imagen del titulo*/

#fondo-titulo {
  width: 435px; /*imagen de fondo*/
  height: 230px;
  opacity: 0.88;
  transform: rotate(-7deg);
}

.contenedor-titulo-cyt img {
  margin-left: 0%;
  margin-top: 18%;
  width: 100%;
  height: 100%;
}

.contenedor-titulo-cyt h2 {
  margin-top: 25%;
  transform: rotate(-5deg);
  position: absolute;
  font-size: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#titulos-principales {
  -webkit-text-stroke: 0.2px black;
  color: #fdde00;
  text-shadow:
    -3px 3px 0 #c3b11e,
    1px 1px 0 #c3b11e,
    1px 2px 0 #c3b11e,
    1px 1px 0 #c3b11e,
    1px 1px 0 #c3b11e;
}/*texto del titulo*/

/*@media (max-width: 1000px) {
  .contenedor-titulo-cyt {
    resize: 500px;
    width: auto;
    height: auto;
    position: relative;
  }
}*//*responsive, delimitar los nuevos parametros para responsive*/

/*Tarjetas*/
/*delimitar un tamaño fijo para cada caja*/
.imagenTarjetas {
  display: block; /* Para que la imagen se comporte como un bloque */
  margin: auto; /* Centrar horizontalmente */
  width: 100%; /* Ajustar el ancho según sea necesario */
  height: auto; /* Mantener la relación de aspecto de la imagen */
}

.contenedor-curiosidades {
  border: 10px solid #00000039;
  backdrop-filter: blur(0.38rem);
  -webkit-backdrop-filter: blur(0.35rem);
  background: #9590902b;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  padding: 20px;
  width: auto;
  font-size: 10px;
  height: auto;
  position: center;
  text-align: justify;
  overflow-x: auto; 
  gap: 70px;/*Barra deslizante*/
}/*contendor de las tarjetas*/
/*estilizando la barra*/

.contenedor-curiosidades::-webkit-scrollbar {
  height: 4px;
  overflow-x: scroll;
  scrollbar-width: thin;
}

.contenedor-curiosidades::-webkit-scrollbar-thumb {
  background: #535252c9; /* Color del thumb (agarre) */
  border-radius: 150px; /* Hace el thumb redondo */

}

.contenedor-curiosidades::-webkit-scrollbar-track {
  background: solid #ffffff; /* Color de fondo de la pista */
  border-radius: 150px;

}

/*Tarjetas*/
/*texto tarjetas*/
#titulo-card {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.curiosidad5 h3,
.curiosidad5 p {
  color:black;
  font-size: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto; 
  width: 85%;
  word-spacing: -0.07em;
}

/*tarjeta*/
.curiosidad5 {
  border: 4px rgba(253, 204, 57);
  margin-left: 20px;
  margin-top: 40px;
  border-radius: 15px;
  width: 250px;
  min-width: 280px;
  min-height: 600px;
 
  background-color: rgba(253, 204, 57, 0.4);
}

.curiosidad4 h3,
.curiosidad4 p {
  color:black;
  font-size: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  width: 85%;
  word-spacing: -0.07em;
}
.curiosidad4{
  border: 4px rgba(19, 134, 198);
  border-radius: 15px;
  width: 250px;
  min-width: 280px;
  min-height: 400px;
  box-sizing: border-box;
  background-color: rgba(19, 134, 198, 0.4);
}

.curiosidad3 h3,
.curiosidad3 p {
  color:black;
  font-size: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  width: 85%;
  word-spacing: -0.07em;
}

.curiosidad3{
  border: 4px rgba(78, 113, 151);
  border-radius: 15px;
  width: 250px;
  min-width: 280px;
  min-height: 400px;
  box-sizing: border-box;
  background-color: rgba(78, 113, 151, 0.45);
}
.curiosidad2 h3,
.curiosidad2 p {
  color:black;
  font-size: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  width: 85%;
  word-spacing: -0.07em;
}
.curiosidad2{
  border: 4px rgba(255, 84, 95);
  border-radius: 15px;
  width: 250px;
  min-width: 280px;
  min-height: 400px;
  box-sizing: border-box;
  background-color: rgba(255, 84, 95, 0.6);
}

.curiosidad1 h3,
.curiosidad1 p {
  color:black;
  font-size: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px auto;
  width: 85%;
  word-spacing: -0.07em;
}

.curiosidad1 {
  border: 4px rgba(132, 207, 187); /* Estilo de borde existente */
  border-radius: 15px; /* Redondeo de esquinas */
  width: 250px;
  min-width: 280px;
  min-height: 400px;
  box-sizing: border-box; /* Incluir el borde en el tamaño */
  background-color: rgba(132, 207, 187, 0.486);
}
/*Fin de Curiosidades y Teorias*/