.pata {
    width: 100%;
    height: 200px; /* Ajusta la altura  */
    background-image: radial-gradient(at top, #5bf0c36f, #8a4fd35c); /* URL de la imagen del banner */
    background-size: cover; /* Ajustar la imagen al contenedor */
    display: flex;
}
