/* General */
header {
  
  padding: 0px 0;
  font-family: "Slackey", sans-serif;
  font-weight: 400;
  font-style: normal;
 
}

.espacio-header {
  background-color:  #f7e840;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  height: 40px;
}
.espacio-header {
  transition: background-color 0.5s ease-in-out, height 0.5s ease-in-out, padding 0.5s ease-in-out;
  background-image: url("/CSS/Imagenes/esponjatexture.png");
  background-position: center;
  background-size: contain;
  border-bottom: solid 3px black;
}
.espacio-header li{
  margin-right: 20px;
  margin-left: 10px;
}

/* Navegación */

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #0b0b0b;
  font-size: 16px;
}

/* Logo */

.logo {
 
 
}

.logo img {
    
position: absolute;
  top: 4px; 
  right: 5px; 
  width: 50px;
  height: auto;
  transform: rotate(6deg);
  
}

.espacio-header2{
  display: none;
}
/* Responsive */

@media (max-width: 768px) {
  .heder{
 
    
  }
  .espacio-header{
    display: none;
  }
  .espacio-header2 {
    display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 15px auto;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  }
  .espacio-header2 li{
    margin-right: 3px;
    margin-left: 6px;
    margin-top: 10px;
  }
  nav {
    margin-bottom: 20px;
  }

  nav ul {
    text-align: start;
   
  }

  nav li {
    
    
    margin-right: 5px;
  }
  
  
  nav a {
   
    text-decoration: none;
    color: #fdf8f8;
    font-size: 10px;
  }
  
  
  .logo img {
    position: absolute;
  top: 4px; 
  right: 5px; 
   width: 20px;
    height: auto;
   
   
  }
  
}
@media (min-width: 500px) {
  .espacio-header {
    flex-direction: column;
    align-items: flex-start;
  }

  nav {
    margin-bottom: 20px;
  }

  nav ul {
    text-align: right;
  }

  nav li {
    margin: 10px 0;
  }
}

