.Historia {
    margin: center center;/*top, right, bottom, left*/
}

.contenerh {
    min-width: auto;
    min-height: auto;
    border: 10px solid #B2AFAF;
    border-radius: 25px;
    background-color:rgba(253, 204, 57, 0.29);
    display: inline-flex;
  
}

@media (max-width: 1000px) {
    .contenerh {
        flex-direction: column;
    }

}

#texto {
    color: rgb(0, 0, 0);
}
.parrafo {
    font-size: 30px;
    text-align: justify;
    font-family: 'Bubblegum Sans';
}
.contenerh .caja{
    min-width: 400px;
    height: 400px;
    line-height: 110px;
    text-align: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(30, 30, 30, 0);
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}
.bobyc {
    width: 400px;
    height: 420px;
    /* Ajustes para centrar la imagen en la primera columna */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
