body {
    font-family: "Slackey", sans-serif;
    font-weight: 400;
    font-style: normal;
    background: linear-gradient( #ffffff63,#ffffff7b),url("/CSS/Imagenes/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Slackey", sans-serif;
    font-style: normal;  
}

header {
    background-color: #f7e940;
    padding: 30px;
}

.html{
    min-height: 160%;
  position: relative;
   /* height: 100%;*/
}
.banner {
    text-align: center;
}
.banner {
    width: 100%;
    height: 550px; /* Ajusta la altura  */
    background-image: url("Imagenes/Cosmic\ Shake\ UHD.webp"); /* URL de la imagen del banner */
    background-size: cover; /* Ajustar la imagen al contenedor */
    background-position: center; /* Posicionar la imagen en el centro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(250, 244, 71); /* Color del texto del banner */
}


.banner h1 {
    font-family: "Slackey", sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}
h1 {
    font-family: "Slackey", sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
    font-size: 24px;
    margin-bottom: 0;
}

main {
    padding: 20px;
}

.tema {
    margin-bottom: 40px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "Slackey", sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    font-family: "Slackey", sans-serif;
    font-size: 30px;
    margin-bottom: 10px;
}




.html {
    box-sizing: border-box; /* NOS SIRVE PARA QUE NO HAYA EXTRA DE PANTALLA */
    font-size: 62.5%; /* AJUSTA LA LETRA DEPENDIENDO DEL ANCHO PERO AUN ASI HAY QUE AJUSTAR CADA SECCION  SI ES NECESARIO*/
}



.body {
    min-height: 100vh; /*EstablecE la altura mínima de la  */
    margin: 0; /* quita el margen que tiene predeterminado  */
    padding: 0; /* quita el espaciamiento interno */
  
}


@media (max-width: 768px) {
  
    .body {
        font-size: 80%; 
        
    }
}

@media (max-width: 480px) {
   
    .body {
        font-size: 60%; 
    }
}
  