.parrafos
{
 
    columns: 200px 2;
    column-gap: 100px;
    padding: 25px;
    text-align: justify;
}
.img01
{
    width: 400px; 
    height: 250px;
}
.trama
{
text-align: center;
}
.bordes {
  
    border: 10px solid #B2AFAF;
    background-color:  rgba(79, 209, 240, 0.6);
    display: inline-flex;
    margin: 10px;
    padding: 15px;
    width: 98%;
    height: fit-content;
    position: relative;
    text-align: center;
    border-radius:  20px;
    color: black;
}

#texto {
    color: black;
    border-radius:  20px;
    
}