.Trama {
    margin: 80px 25px 40px 20px;/*top, right, bottom, left*/
  }
.parrafos
{
    columns: 200px 2;
    column-gap: 100px;
    padding: 25px;
    text-align: justify;
}
.img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px; /* Espacio entre la imagen y el párrafo */
}
.letra{
    font-size: 30px;
    font-family: 'Bubblegum Sans';
}
.img01 {
    width: 800px;
    height: 300px;
    /* Ajustes para centrar la imagen en la primera columna */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centrado {
text-align:center;
}
.bordes {
  
    border: 10px solid #B2AFAF;
    background-color:  rgba(79, 209, 240, 0.6);
    display: inline-flex;
    margin: 10px;
    padding: 15px;
    min-width: 100;
    height: fit-content;
    position: relative;
    text-align: center;
    border-radius:  20px;
    color: black;
}

#texto {
    color: black;
    border-radius:  20px;
    
}
#texto > .parrafos > p:nth-child(2) {
    font-size: normal; /* Tamaño de fuente normal */
}